In [81]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

`sklearn.metrics.accuracy_score`(y_true, y_pred, *, normalize=True, sample_weight=None)
`sklearn.metrics.precision_score`(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
`sklearn.metrics.recall_score`(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
`sklearn.metrics.classification_report`

## 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

In [8]:
data = {'pred dog': [46, 13],'pred cat':[7,34]}

In [11]:
df = pd.DataFrame(data,index = ['actual dog', 'actual cat'])
df

            pred dog  pred cat
actual dog        46         7
actual cat        13        34

In [ ]:
# Positive: pred dog
# Negative: pred cat

# True Positive: pred god, auctal dog
# True Negative: pred cat, actual cat
# False Positive: pred dog, acutal cat
# False Negative: pred cat, actual dog

#### In the context of this problem, what is a false positive?

In [12]:
# False Positive: pred dog, acutal cat

#### In the context of this problem, what is a false negative?

In [ ]:
# False Negative: pred cat, actual dog

#### How would you describe this model?

In [ ]:
# model: F1 score

## 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

## Use the predictions dataset and pandas to help answer the following questions:

In [13]:
duck = pd.read_clipboard()
duck

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [14]:
# P: Pred defect
# N: Pred no defect
# True Positive: Pred defect, defect 
# True Negatvie: Pred no defect, no defect
# False Positive: Pred defect, no defect
# False Negative: Pred no defect, defect

#### An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [59]:
# Recall
subset = duck[duck.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [60]:
model_1 = (subset.actual == subset.model1).mean()
model_2 = (subset.actual == subset.model2).mean()
model_3 = (subset.actual == subset.model3).mean()
print(f'model1 recall: {model_1:.2%}')
print(f'model2 recall: {model_2:.2%}')
print(f'model3 recall: {model_3:.2%}')

model1 recall: 50.00%
model2 recall: 56.25%
model3 recall: 81.25%

In [63]:
# using sklearn
# model 1
y_true = subset.actual
y_pred = subset.model1
recall_score(y_true, y_pred, average = 'micro')

0.5

In [64]:
# model 2
y_true = subset.actual
y_pred = subset.model2
recall_score(y_true, y_pred, average = 'micro')

0.5625

In [65]:
# model 3
y_true = subset.actual
y_pred = subset.model3
recall_score(y_true, y_pred, average = 'micro')

0.8125

In [31]:
# model3 would be the best fit

#### Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [78]:
# False Positive - Precision
# model1

subset1 = duck[duck.model1 =='Defect']
subset1

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [80]:
model1_precision = (subset1.actual == subset1.model1).mean()
model1_precision

0.8

In [82]:
y_true = subset1.actual
y_pred = subset1.model1
precision_score(y_true, y_pred, average = 'micro')

0.8

In [83]:
# model2
subset2 = duck[duck.model2 =='Defect']
subset2

        actual     model1  model2     model3
0    No Defect  No Defect  Defect  No Defect
1    No Defect  No Defect  Defect     Defect
2    No Defect  No Defect  Defect  No Defect
3    No Defect     Defect  Defect     Defect
4    No Defect  No Defect  Defect  No Defect
..         ...        ...     ...        ...
183  No Defect  No Defect  Defect  No Defect
185  No Defect  No Defect  Defect  No Defect
193  No Defect  No Defect  Defect     Defect
195  No Defect  No Defect  Defect     Defect
198  No Defect  No Defect  Defect     Defect

[90 rows x 4 columns]

In [26]:
model2_precision = (subset2.actual == subset2.model2).mean()
model2_precision

0.1

In [84]:
y_true = subset2.actual
y_pred = subset2.model2
precision_score(y_true, y_pred, average = 'micro')

0.1

In [85]:
# model3

subset3 = duck[duck.model3 =='Defect']
subset3

        actual     model1     model2  model3
1    No Defect  No Defect     Defect  Defect
3    No Defect     Defect     Defect  Defect
5    No Defect  No Defect  No Defect  Defect
9    No Defect  No Defect  No Defect  Defect
13      Defect  No Defect     Defect  Defect
..         ...        ...        ...     ...
193  No Defect  No Defect     Defect  Defect
194     Defect     Defect  No Defect  Defect
195  No Defect  No Defect     Defect  Defect
198  No Defect  No Defect     Defect  Defect
199  No Defect  No Defect  No Defect  Defect

[99 rows x 4 columns]

In [29]:
model3_precision = (subset3.actual == subset3.model3).mean()
model3_precision

0.13131313131313133

In [86]:
y_true = subset3.actual
y_pred = subset3.model3
precision_score(y_true, y_pred, average = 'micro')

0.13131313131313133

In [30]:
# model1 would be the best fit

## 4. You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

## Several models have already been developed with the data, and you can find their results here.

## Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [34]:
df = pd.read_clipboard()
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [87]:
# baseline model
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [36]:
df['baseline_prediction'] = 'dog'

#### In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [37]:
# Models and baseline accuracy:
model1_accuracy = (df.actual == df.model1).mean()
model2_accuracy = (df.actual == df.model2).mean()
model3_accuracy = (df.actual == df.model3).mean()
model4_accuracy = (df.actual == df.model4).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()

print(f'model1 accuracy: {model1_accuracy:.2%}')
print(f'model2 accuracy: {model2_accuracy:.2%}')
print(f'model3 accuracy: {model3_accuracy:.2%}')
print(f'model3 accuracy: {model3_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model1 accuracy: 80.74%
model2 accuracy: 63.04%
model3 accuracy: 50.96%
model3 accuracy: 50.96%
baseline accuracy: 65.08%

In [89]:
# model1

y_true = df.actual
y_pred = df.model1
accuracy_score(y_true, y_pred)

0.8074

In [90]:
# model2

y_true = df.actual
y_pred = df.model2
accuracy_score(y_true, y_pred)

0.6304

In [91]:
# model3

y_true = df.actual
y_pred = df.model3
accuracy_score(y_true, y_pred)

0.5096

In [ ]:
# model4

y_true = df.actual
y_pred = df.model4
accuracy_score(y_true, y_pred)

In [92]:
# baseline prediction

y_true = df.actual
y_pred = df.baseline_prediction
accuracy_score(y_true, y_pred)

0.6508

#### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [93]:
subset = df[df.actual == 'dog']
subset

     actual model1 model2 model3 model4 baseline_prediction
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
5       dog    dog    dog    dog    dog                 dog
8       dog    dog    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4993    dog    dog    cat    dog    dog                 dog
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[3254 rows x 6 columns]

In [43]:
model1_recall = (subset.actual == subset.model1).mean()
model2_recall = (subset.actual == subset.model2).mean()
model3_recall = (subset.actual == subset.model3).mean()
model4_recall = (subset.actual == subset.model4).mean()

print(f'model1 recall: {model1_recall:.2%}')
print(f'model2 recall: {model2_recall:.2%}')
print(f'model3 recall: {model3_recall:.2%}')
print(f'model4 recall: {model4_recall:.2%}')

model1 recall: 80.33%
model2 recall: 49.08%
model3 recall: 50.86%
model4 recall: 95.57%
baseline recall: 100.00%

In [94]:
# model 1

y_true = subset.actual
y_pred = subset.model1
recall_score(y_true, y_pred, average = 'micro')

0.803318992009834

In [95]:
# model 2

y_true = subset.actual
y_pred = subset.model2
recall_score(y_true, y_pred, average = 'micro')

0.49078057775046097

In [96]:
# model 3

y_true = subset.actual
y_pred = subset.model3
recall_score(y_true, y_pred, average = 'micro')

0.5086047940995697

In [97]:
# model 4

y_true = subset.actual
y_pred = subset.model4
recall_score(y_true, y_pred, average = 'micro')

0.9557467732022127

In [98]:
# baseline model

y_true = subset.actual
y_pred = subset.baseline_prediction
recall_score(y_true, y_pred, average = 'micro')

1.0

In [ ]:
# Phase I: model 4

In [48]:
# model 1

set1 = df[df.model1 =='dog']
model1_precision = (set1.actual == set1.model1).mean()
model1_precision

0.8900238338440586

In [103]:
# model 1 - sklearn.metrics

set1 = df[df.model1 =='dog']
y_true = set1.actual
y_pred = set1.model1
precision_score(y_true, y_pred, average = 'micro')

0.8900238338440586

In [49]:
# model 2

set2 = df[df.model2 =='dog']
model2_precision = (set2.actual == set2.model2).mean()
model2_precision

0.8931767337807607

In [106]:
# model 2 - sklean.metrics

set2 = df[df.model2 =='dog']
y_true = set2.actual
y_pred = set2.model2
precision_score(y_true, y_pred, average = 'micro')

0.8931767337807607

In [50]:
# model 3

set3 = df[df.model3 =='dog']
model3_precision = (set3.actual == set3.model3).mean()
model3_precision

0.6598883572567783

In [107]:
# model 3 - sklean.metrics

set3 = df[df.model3 =='dog']
y_true = set3.actual
y_pred = set3.model3
precision_score(y_true, y_pred, average = 'micro')

0.6598883572567783

In [51]:
# model 4

set4 = df[df.model4 =='dog']
model4_precision = (set4.actual == set4.model4).mean()
model4_precision

0.7312485304490948

In [108]:
# model 4 - sklean.metrics

set4 = df[df.model4 =='dog']
y_true = set4.actual
y_pred = set4.model4
precision_score(y_true, y_pred, average = 'micro')

0.7312485304490948

In [52]:
# baseline

set5 = df[df.baseline_prediction =='dog']
model5_precision = (set5.actual == set5.baseline_prediction).mean()
model5_precision

0.6508

In [110]:
# baseline - sklean.metrics

set5 = df[df.baseline_prediction =='dog']
y_true = set5.actual
y_pred = set5.baseline_prediction
precision_score(y_true, y_pred, average = 'micro')

0.6508

In [ ]:
# Phase II: model 2

#### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [111]:
subset = df[df.actual == 'cat']
subset

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
6       cat    cat    cat    cat    dog                 dog
7       cat    dog    cat    cat    dog                 dog
11      cat    cat    dog    cat    cat                 dog
...     ...    ...    ...    ...    ...                 ...
4987    cat    dog    cat    dog    dog                 dog
4989    cat    cat    cat    dog    cat                 dog
4991    cat    cat    cat    cat    dog                 dog
4994    cat    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog

[1746 rows x 6 columns]

In [112]:
model1_recall = (subset.actual == subset.model1).mean()
model2_recall = (subset.actual == subset.model2).mean()
model3_recall = (subset.actual == subset.model3).mean()
model4_recall = (subset.actual == subset.model4).mean()
baseline_recall = (subset.actual == subset.baseline_prediction).mean()
print(f'model1 recall: {model1_recall:.2%}')
print(f'model2 recall: {model2_recall:.2%}')
print(f'model3 recall: {model3_recall:.2%}')
print(f'model4 recall: {model4_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

model1 recall: 81.50%
model2 recall: 89.06%
model3 recall: 51.15%
model4 recall: 34.54%
baseline recall: 0.00%

In [113]:
# model 1

y_true = subset.actual
y_pred = subset.model1
recall_score(y_true, y_pred, average = 'micro')

0.8150057273768614

In [114]:
# model 2

y_true = subset.actual
y_pred = subset.model2
recall_score(y_true, y_pred, average = 'micro')

0.8906071019473081

In [115]:
# model 3

y_true = subset.actual
y_pred = subset.model3
recall_score(y_true, y_pred, average = 'micro')

0.5114547537227949

In [116]:
# model 4

y_true = subset.actual
y_pred = subset.model4
recall_score(y_true, y_pred, average = 'micro')

0.34536082474226804

In [117]:
# baseline

y_true = subset.actual
y_pred = subset.baseline_prediction
recall_score(y_true, y_pred, average = 'micro')

0.0

In [46]:
# Phase I: model 1

In [53]:
# model 1

set1 = df[df.model1 =='cat']
model1_precision = (set1.actual == set1.model1).mean()
model1_precision

0.6897721764420747

In [120]:
# model 1 - sklearn.metrics

set1 = df[df.model1 =='cat']
y_true = set1.actual
y_pred = set1.model1
precision_score(y_true, y_pred, average = 'micro')

0.6897721764420747

In [54]:
# model 2
set2 = df[df.model2 =='cat']
model2_precision = (set2.actual == set2.model2).mean()
model2_precision

0.4841220423412204

In [121]:
# model 2 - sklearn.metrics

set2 = df[df.model2 =='cat']
y_true = set2.actual
y_pred = set2.model2
precision_score(y_true, y_pred, average = 'micro')

0.4841220423412204

In [55]:
# model 3

set3 = df[df.model3 =='cat']
model3_precision = (set3.actual == set3.model3).mean()
model3_precision

0.358346709470305

In [122]:
# model 3 - sklearn.metrics

set3 = df[df.model3 =='cat']
y_true = set3.actual
y_pred = set3.model3
precision_score(y_true, y_pred, average = 'micro')

0.358346709470305

In [56]:
# model 4

set4 = df[df.model4 =='cat']
model4_precision = (set4.actual == set4.model4).mean()
model4_precision

0.8072289156626506

In [123]:
# model 4 - sklearn.metrics

set4 = df[df.model4 =='cat']
y_true = set4.actual
y_pred = set4.model4
precision_score(y_true, y_pred, average = 'micro')

0.8072289156626506

In [ ]:
# Phase II: model 4